$main-white-color: #fff;
$main-black-color: #000;
$main-green-color: #00d1de;
//$main-inner-bg: #f9f9f9;
//$main-title-color: #000;
//$main-text-color: #999;
//$main-white-color: #fff;
$main-border-color: #e6e6e6;

//site
$site-background: #fff;
$header-menu-color: #fff;
//$header-menu-active-color: $main-brown-light-color;
//$header-menu-back: $main-brown-color;
$header-menu-btn-back: #fff;
$header-menu-btn-opened: #fff;
$footer-bg: #1f1f1f;
$footer-text-color: #a7a8a8;
$footer-crafted-color: #a7a8a8;
//$footer-title-color: $main-brown-light-color;
//$hero-title-color: $main-brown-light-color;

/*---------- popup ----------*/
$popup-back: rgba( 255, 255, 255, .98 );
$popup-close-back: #000;
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #ddd;
$websters-select-opened: #2a2b76;
$websters-select-back: #fff;
$websters-select-item-color: #bbb;
$websters-select-popup-item-active-color: #bbb;
/*---------- /websters-select ---------*/

/*---------- btn ----------*/
$btn-back: #fff;
//$btn-hover-back: $main-brown-light-color;
$btn-2-color: #333;
//$btn-3-border-color: $main-brown-light-color;

/*---------- /btn ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-color: #bbb;
$nice-checkbox-active-color: #1d242d;
/*---------- /nice-checkbox ---------*/


