
.listing {
  background: #f2f4f5;
  padding-top: 30px;
  padding-bottom: 12px;

  .btn-filter {
    position: fixed;
    z-index: 10;
    left: 50%;
    -webkit-transform: translateX(-50%) rotateX(0deg);
    transform: translateX(-50%) rotateX(0deg);
    bottom: 30px;

    > span {
      opacity: 1;
      @include transition(all, .3, 0);

      &:nth-child(2) {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }

    &.active {

      > span:nth-child(1) {
        opacity: 0;
      }
      > span:nth-child(2) {
        opacity: 1;
      }
    }
  }

  &__filter {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    padding: 45px 15px 30px;
    background: $main-white-color;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 54px 0 rgba(50, 50, 50, 0.18);
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
    @include transition(transform, .3, 0);

    fieldset {
      margin-bottom: 9px;

      &:last-child {
        margin-right: 0;
      }
      input {
        width: 100%;
        height: 40px;
        padding: 2px 16px 0;
        border: 2px solid $main-border-color;
        border-radius: 7px;
        color: #9e9e9e;
        font-size: 15px;
        @include main-font5();
        @include transition(border-color, .3, 0);

        &::-webkit-input-placeholder {
          color: #9e9e9e;
          @include transition(color, .3, 0);
        }
        &:-moz-placeholder {
          color: #9e9e9e;
          @include transition(color, .3, 0);
        }
        &.placeholder {
          color: #9e9e9e;
          @include transition(color, .3, 0);
        }

        &:focus,
        &.active {
          border-color: #616161;

          &::-webkit-input-placeholder {
            color: transparent;
          }
          &:-moz-placeholder {
            color: transparent;
          }
          &.placeholder {
            color: transparent;
          }

          i {
            color: $main-green-color;
          }
        }
      }

      &.listing__filter-location {
        position: relative;

        i {
          @include absoluteCenterY();
          left: 18px;
          font-size: 23px;
          color: #9e9e9e;
          @include transition(color, .3, 0);
        }
        input {
          width: 100%;
          padding-left: 47px;

          &:focus + i {
            color: $main-green-color;
          }
        }
      }
    }
    &.active {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
    }
  }
  &__filter-btn {
    display: inline-block;
    vertical-align: top;
    padding: 4px 19px 0 25px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2);
    background: #f2f4f5;
    text-transform: uppercase;
    font-size: 12px;
    color: #616161;
    letter-spacing: 1.2px;
    line-height: 36px;
    @include main-font2();
    @include transition(background, .3, 0);

    span {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px;
      width: 7px;
      height: 7px;
      margin: 0 20px 0 0;
      border: 2px solid #616161;
      border-radius: 50%;

      &:after,
      &:before{
        position: absolute;
        top: -2px;
        left: -10px;
        width: 3px;
        height: 3px;
        border: 2px solid #616161;
        border-radius: 50%;
        content: '';
      }
      &:after {
        left: auto;
        right: -10px;
      }
    }
    &:hover {
      background: #ebebeb;
    }
  }
  &__filter-categories {
    display: inline-block;

    &.active {

      .listing__filter-categories-btn {
        color: $main-green-color;
        border-color: $main-border-color;
        background: $main-white-color;

        i {
          color: $main-green-color;
        }
        &:after {
          opacity: 1;
        }
      }
      .listing__filter-categories-dropdown {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__filter-categories-btn {
    display: inline-block;
    position: relative;
    padding: 10px 24px;
    border-radius: 7px 7px 0 0;
    border: 1px solid transparent;
    border-bottom: none;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    @include main-font5();
    @include transition(all, .3, 0);

    i {
      position: relative;
      z-index: 2;
      top: 1px;
      margin-left: 9px;
      font-size: 17px;
      font-weight: 700;
      @include transition(color, .3, 0);
    }
    &:after {
      opacity: 0;
      position: absolute;
      z-index: 6;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 2px;
      background: $main-white-color;
      content: '';
      @include transition(opacity, .3, 0);
    }
  }
  &__filter-categories-dropdown {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 5;
    width: 250px;
    padding: 20px;
    border-radius: 0 7px 7px 7px;
    border: 1px solid $main-border-color;
    background: $main-white-color;
    @include transition(all, .3, 0);

    .nice-checkbox {
      display: block;
      margin-bottom: 23px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__filter-rooms {
    text-align: center;

    .websters-select {
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
      text-align: left;

      &:last-child {
        margin-top: 10px;
      }
    }
  }
  &__filter-budget {

    input {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &__filter-budget-list {
    padding-top: 21px;

    &_min {
      display: block;
    }
    &_max {
      display: none;

      li {
        text-align: right;
      }
    }

    li {
      padding: 5px 2px;
      border-top: 1px solid $main-border-color;
      cursor: pointer;
      font-size: 16px;
      user-select: none;
      @include main-font5();
      @include transition(all, .3, 0);

      &:last-child {
        border-bottom: 1px solid $main-border-color;
      }
      &:hover,
      &.active {
        background: $main-green-color;
        color: $main-white-color;
      }
      &.disabled {
        opacity: .4;
        cursor: default;

        &:hover {
          background: transparent;
          color: $main-black-color;
        }
      }
    }
  }
  &__filter-results {

    span {
      display: inline-block;
      vertical-align: top;
      margin-right: 7px;
      margin-bottom: 5px;
      padding: 0 12px;
      border-radius: 5px;
      background: #a9a9a9;
      font-size: 13px;
      line-height: 26px;
      color: $main-white-color;
      cursor: pointer;
      @include transition(all, .3, 0);

      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: #292929;

        i {
          color: $main-green-color;
        }
      }
      i {
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin-right: 7px;
        color: $main-white-color;
        line-height: 26px;
        @include transition(all, .3, 0);

        &:hover {
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
        }
      }
    }
  }
  &__wrap {
    padding: 0 15px;
  }
  &__catalog-gallery.swiper-container {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 7px 7px 0 0;

    .swiper-slide {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 0;
      z-index: 20;
      width: 44px;
      height: 44px;
      right: 23px;
      border-radius: 50%;
      background-color: rgba(0,0,0, .5);
      background-image: none;
      @include transition(all, .2, 0);

      &:after {
        @include absoluteCenter();
        width: 11px;
        height: 18px;
        background-image: url('../img/sprite-arrow.png');
        background-size: 60px 18px;
        background-position: right center;
        content: '';
      }
      &:hover {
        background-color: rgba(0,0,0, .7);
      }
    }
    .swiper-button-prev {
      left: 23px;

      &:after {
        background-position: -2px center;
      }
    }
  }
  &__catalog-name {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    text-align: left;
    font-size: 18px;
    color: $main-white-color;
    letter-spacing: 0.6px;
    @include main-font6();
    font-style: italic;
  }
  &__catalog-price {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    width: 40%;
    text-align: right;
    font-size: 17px;
    letter-spacing: 0.3px;
    color: $main-white-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include main-font3();
  }
  &__catalog-sort {
    margin-bottom: 19px;
    padding-left: 3px;

    button {
      display: inline-block;
      vertical-align: top;
      margin-right: 24px;
      background: transparent;
      border: none;
      padding: 0;
      font-size: 16.5px;
      letter-spacing: 0.1px;
      color: #b5b5b5;
      @include main-font2();
      @include transition(color, .3, 0);

      i {
        color: #b5b5b5;
        font-size: 14px;
        @include transition(color, .3, 0);
      }
      &.active,
      &:hover {
        color: #454545;

        i {
          color: $main-green-color;
        }
      }
    }
  }
  &__catalog-list {
    position: relative;
    padding-top: 24px;
    border-top: 1px solid $main-border-color;
  }
  &__catalog-item {
    overflow: hidden;
    display: block;
    margin-bottom: 12px;
    border-radius: 7px;
    box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.2);

    &:hover {

      .swiper-button-next,
      .swiper-button-prev {
        opacity: 1;
        visibility: visible;
      }
      .listing__catalog-item-name {
        opacity: .7;
      }
    }
  }
  &__catalog-item-pics {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 67.7%;

    &:after {
      position: absolute;
      z-index: 1;
      height: 65px;
      width: 100%;
      bottom: 0;
      left: 0;
      background: -webkit-linear-gradient(top,  rgba(120,120,120,0.02) 0%,rgba(99,99,99,0.15) 18%,rgba(94,94,94,0.17) 21%,rgba(40,40,40,0.44) 56%,rgba(25,25,25,0.52) 67%,rgba(17,17,17,0.55) 73%,rgba(1,1,1,0.64) 90%,rgba(0,0,0,0.64) 100%);
      background: linear-gradient(to bottom,  rgba(120,120,120,0.02) 0%,rgba(99,99,99,0.15) 18%,rgba(94,94,94,0.17) 21%,rgba(40,40,40,0.44) 56%,rgba(25,25,25,0.52) 67%,rgba(17,17,17,0.55) 73%,rgba(1,1,1,0.64) 90%,rgba(0,0,0,0.64) 100%);
      content: '';
    }
  }
  &__catalog-item-name {
    opacity: 1;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 15px 15px;
    @include transition(opacity, .3, 0);
  }
  &__catalog-item-wrap {
    min-height: 82px;
    padding: 15px 15px 10px;
    background: $main-white-color;
    color: #7f7f7f;

    > div {
      margin-bottom: 3px;
      font-size: 15px;
      letter-spacing: 0.4px;
      line-height: 25px;

      strong {
        display: inline;
        color: #333333;
        letter-spacing: 0.7px;
        @include main-font2();
      }
      address {
        display: inline;
        font-style: normal;
      }
    }
    > ul {

      li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 6px;
        margin-right: 5px;
        font-size: 15px;
        letter-spacing: -0.7px;
        line-height: 25px;

        &:last-child {

          &:after {
            display: none;
          }
        }
        &:after {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          width: 6px;
          height: 6px;
          margin-left: 11px;
          background: #7f7f7f;
          border-radius: 50%;
          content: '';
        }
      }
    }
  }
  &__map {
    width: 100%;
    border: 1px solid $main-border-color;
    padding-bottom: 50%;
  }
}

@media (min-width: $tablet-portrait) {

  .listing {

    &__catalog-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    &__catalog-item {
      display: inline-block;
      vertical-align: top;
      width: 49%;
    }
    &__catalog-item-pics {
      overflow: hidden;
      position: relative;
      width: 100%;
      padding-bottom: 67.7%;

      &:after {
        position: absolute;
        z-index: 1;
        height: 65px;
        width: 100%;
        bottom: 0;
        left: 0;
        background: -webkit-linear-gradient(top,  rgba(120,120,120,0.02) 0%,rgba(99,99,99,0.15) 18%,rgba(94,94,94,0.17) 21%,rgba(40,40,40,0.44) 56%,rgba(25,25,25,0.52) 67%,rgba(17,17,17,0.55) 73%,rgba(1,1,1,0.64) 90%,rgba(0,0,0,0.64) 100%);
        background: linear-gradient(to bottom,  rgba(120,120,120,0.02) 0%,rgba(99,99,99,0.15) 18%,rgba(94,94,94,0.17) 21%,rgba(40,40,40,0.44) 56%,rgba(25,25,25,0.52) 67%,rgba(17,17,17,0.55) 73%,rgba(1,1,1,0.64) 90%,rgba(0,0,0,0.64) 100%);
        content: '';
      }
    }
    &__catalog-item-name {
      opacity: 1;
      display: flex;
      justify-content: space-between;
      position: absolute;
      z-index: 2;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 0 15px 15px;
      @include transition(opacity, .3, 0);
    }
  }
}

@media (min-width: $tablet-landscape) {


}

@media (min-width: $desktop) {

  .listing {
    padding-top: 0;

    .btn-filter {
      display: none;
    }
    &__filter {
      position: relative;
      left: -2px;
      width: auto;
      max-width: 1095px;
      margin: 0 auto 17px;
      padding: 32px 30px 26px 40px;
      -webkit-transform: translate(0);
      transform: translate(0);

      fieldset {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 9px;
        margin-right: 10px;

        &:nth-child(2) {
          margin-right: -2px;
        }
        &:nth-child(3) {
          margin-right: -10px;
        }
        &:last-child {
          margin-right: 0;
        }
        input {
          width: 169px;
        }

        &.listing__filter-location {

          input {
            width: 201px;
          }
        }
      }
    }
    &__filter-categories {
      margin-right: -2px;

      &:nth-of-type(2) {
        margin-right: 5px;
      }
      &:nth-of-type(3) {
        margin-right: 5px;
      }

      &.active {

        .listing__filter-categories-btn {
          color: $main-green-color;
          border-color: $main-border-color;
          background: $main-white-color;

          i {
            color: $main-green-color;
          }
          &:after {
            display: block;
          }
        }
        .listing__filter-categories-dropdown {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &__filter-categories-dropdown {
      width: auto;
      padding: 19px 37px 21px 27px;
    }
    &__filter-rooms {

      .websters-select {
        display: inline-block;
        width: 180px;
        margin-right: 5px;
        margin-bottom: 0;

        &:last-child {
          margin-left: 5px;
          margin-top: 0;
        }
      }
    }
    &__filter-budget {

      input {
        width: 192px;
        margin: 0;
      }
    }
    &__wrap {
      padding: 0 63px;
    }
    &__catalog {
      display: inline-block;
      vertical-align: top;
      width: calc(58.1% + 20px);
    }
    &__catalog-name {
      font-size: 20px;
    }
    &__catalog-price {
      font-size: 20px;
    }
    &__catalog-list {
      padding-right: 20px;
      padding-bottom: 3px;
    }
    &__catalog-item {
      width: 49.4%;

      &:last-of-type,
      &:nth-last-of-type(2){
        margin-bottom: 0;
      }
    }
    &__catalog-item-name {
      padding: 0 21px 22px;
    }
    &__catalog-item-wrap {
      padding: 13px 22px 10px;
    }
    &__map {
      position: absolute !important;
      right: 0;
      bottom: 13px;
      width: 40.6%;
      padding: 0;
    }
  }
}

@media (min-width: $desktop-wide) {

  .listing {

    &__catalog-name {
      font-size: 22px;
    }
    &__catalog-price {
      font-size: 21px;
    }
    &__catalog-item-pics {

      &:after {
        height: 108px;
      }
    }
    &__catalog-item-wrap {

      > div {
        //font-size: 15px;
      }
      > ul {

        li {
          //font-size: 17px;
          //letter-spacing: -0.7px;
        }
      }
    }
  }
}
