.nice-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: top;
  user-select: none;
  @include main-font4();

  input[ type = checkbox ] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label {
      color: $main-green-color;

      &:after {

      }
      &:before {
        opacity: 1;
      }

    }

    &:disabled + label {
      cursor: default;
      opacity: .5;
    }

  }
  label {
    display: inline-block;
    padding-left: 38px;
    letter-spacing: 0.6px;
    font-size: 16px;
    color: #7f7f7f;
    cursor: pointer;
    @include transition(color, .3, 0);

    &:after,
    &:before {
      position: absolute;
      content: '';
    }
    &:after {
      left: 0;
      top: -2px;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background: #d9d9d9;
    }
    &:before {
      opacity: 0;
      z-index: 2;
      top: -2px;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background-color: rgb(0,221,219);
      background-color: -webkit-linear-gradient(-45deg,  rgba(0,221,219,1) 0%,rgba(0,182,202,1) 100%);
      background-color: linear-gradient(135deg,  rgba(0,221,219,1) 0%,rgba(0,182,202,1) 100%);
      background-image: url('../img/check-icon.png');
      background-size: 14px 10px;
      background-position: center;
      background-repeat: no-repeat;
      @include transition(opacity, .3, 0);
    }
    &:hover {
      color: $nice-checkbox-active-color;

      &:after {
        border-color: $nice-checkbox-active-color;
      }
    }
  }
}
